#if ($action.authenticatedUser)
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-table-sortable")
    $webResourceManager.requireResource("no.nav.kiv.confluence.labs.confluence-jira-live-search:advanced-resources")

    #set ($isLarge = $size == "large")

<div class="search-jira #if($isLarge)search-jira-large#{else}search-jira-medium#end">
    <div class="aui-dd-parent errorMessages"></div>
    <form class="aui aui-dd-parent" name="livesearchForm" onsubmit="return false;">
        <fieldset class="search-jira-fields">
            <div class="search-jira-query">
                <input id="search" class="text" type="text" name="queryString" autocomplete="off"
                       placeholder="$!{placeholder}">
                #if($isLarge)
                    <span class="spinner-icon aui-icon aui-icon-large aui-iconfont-search">$i18n.getText(
                        'confluence.extra.livesearch.label')</span>
                #end
            </div>
            #if(!$isLarge)
                <button type="submit" class="search-jira-button aui-button">
                    <span class="aui-icon aui-icon-small aui-iconfont-search">$i18n.getText(
                        'confluence.extra.livesearch.label')</span>
                </button>
            #end
            <input type="hidden" id="project" name="project" value="$!{project}" />
            <input type="hidden" id="issueType" name="issueType" value="$!{issueType}"/>
            <input type="hidden" id="tableId" name="tableId" value="$!{id}"/>
            <input type="hidden" id="applink" name="applink" value="$!{applink}"/>

        </fieldset>

        <button id="configuration-toggle" type="button" class="aui-button aui-button-link hidden">Advanced</button>
        <div class="toggle" style="display: none;">
            <h3>Search configuration</h3>
            <fieldset>
                <div class="field-group">
                    <label for="select-search-fields">Search in:</label>
                    <select class="multi-select" size="1" multiple="multiple" id="select-search-fields" name="select-search-fields">
                    </select>
                    <div class="description">Select the JIRA fields you want to search in.</div>
                </div>

                <div class="field-group">
                    <label for="select-filter-fields">Filter in:</label>
                    <select class="multi-select" size="1" multiple="multiple" id="select-filter-fields" name="select-filter-fields">
                    </select>
                    <div class="description">Select the JIRA fields you want to filter in.</div>
                </div>

                <div class="field-group">
                    <label for="select-table-fields">Table fields:</label>
                    <select class="multi-select" size="1" multiple="multiple" id="select-table-fields" name="select-table-fields">
                    </select>
                    <div class="description">Select the JIRA fields you want to display in the results table.</div>
                </div>

                <div class="field-group">
                    <label for="sort-table-fields">Sort table fields:</label>
                    <ul id="sort-table-fields"></ul>
                    <div class="description">Select the display order in the table. Drag and drop the elements to change order.</div>
                </div>
            </fieldset>

            <h3>Rename fields</h3>
            <fieldset>
                <div class="field-group">
                    <label for="select-rename-fields">Rename field:<span class="aui-icon icon-required"> required</span></label>
                    <select class="multi-select" size="1" id="select-rename-fields" name="select-rename-fields">
                    </select>
                    <div class="description">Select the JIRA fields you want to rename.</div>
                </div>

                <div class="field-group">
                    <label for="input-rename-fields">to:<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="input-rename-fields" name="input-rename-fields" title="new name">
                    <div class="description">Write the new name of the field.</div>
                </div>

                <button id="button-rename-fields" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-list-add">Add </span> Add</button>

                <table class="aui">
                    <thead>
                    <tr>
                        <th>Old name</th>
                        <th>New name</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="table-rename-rows">
                    </tbody>
                </table>
            </fieldset>

            <h3>Lightbox configuration</h3>
            <fieldset>
                <div class="field-group">
                    <label for="lightbox-template">Handlebars template</label>
                    <textarea class="textarea" name="lightbox-template" id="lightbox-template" placeholder="Your lightbox template here..."></textarea>
                </div>

                <button id="button-save-template" style="float: right;" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-table-paste-row">Save </span> Save</button>
            </fieldset>
        </div>
    </form>

</div>
<br/>
<button id="filters-toggle" type="button" class="aui-button aui-button-link hidden">Filter</button>
<div id="search-filters" style="width: 100%; display: none;")>
    <form class="aui top-label" name="filterform" onsubmit="return false;">
        <fieldset id="filterSection" class="top-label">
        </fieldset>
    </form>
</div>
<div id="table-$!{id}"></div>
#else
<div class="aui-message aui-message-warning">
    <p class="title">
        <strong>Log in!</strong>
    </p>
    <p>Du må loge in til kunne bruke funksjonaliteten på denne sida!</p>
</div>
#end



